<thead>
<tr>
    <th>[[%foodbrain.forest.heading]]</th>
    <th>[[%foodbrain.forest.trees]]</th>
    <th>[[%foodbrain.forest.contact]]</th>
    <th>[[%foodbrain.forest.maintainer]]</th>
</tr>
</thead>
