[[$imgOverviewForestLink?
    &uid=`[[+unique_idx]]`
    &classes=`rounded`
]]

<div class="content">
    <div class="ui stackable equal width middle aligned wide grid">
        Forest tales
    </div>
</div>
