<strong>
    [[+Taxonomy_name:empty=`Unknown`]]
    [[+Taxonomy_name_local:prepend=`/ `]]
</strong>
[[+Taxonomy_name_latin:prepend=`<em class="meta">`:append=`</em>`]]
[[+variety:prepend=`(Variety: `:append=`)`]]