<thead>
<tr>
    <th>[[%foodbrain.component.heading]]</th>
    <th>[[%foodbrain.component.inputs_heading]]</th>
    <th>[[%foodbrain.component.outputs_heading]]</th>
    <th>[[%foodbrain.component.data_stage]]</th>
    <th>[[%foodbrain.component.data_zone]]</th>
    [[-<th>[[%foodbrain.component.maintainer]]</th>]]
</tr>
</thead>
